{% macro render_pagination(pager) %}
    {% if pager %}
        <nav role="navigation">
            <ul class="cd-pagination animated-buttons custom-icons">
                <li class="button">
                    <a href="?page={{ pager.prev_page }}"
                       {% if not pager.has_prev %}class="disabled"{% endif %}><i>Prev</i></a>
                </li>

                <li><a class="current" href="#">{{ pager.page }}</a></li>

                <li class="button">
                    <a href="?page={{ pager.next_page }}"
                       {% if not pager.has_next %}class="disabled"{% endif %}><i>Next</i></a>
                </li>
            </ul>
        </nav> <!-- cd-pagination-wrapper -->
    {% else %}
        <nav role="navigation">
            <ul class="cd-pagination animated-buttons custom-icons">
                <li class="button">
                    <a href="#" class="disabled"><i>Prev</i></a>
                </li>

                <li><a class="current" href="#">1</a></li>

                <li class="button">
                    <a href="#" class="disabled"><i>Next</i></a>
                </li>
            </ul>
        </nav> <!-- cd-pagination-wrapper -->
    {% endif %}
{% endmacro %}